name: Deploy Next to Vercel (Production)

on:
  push:
    branches:
      - feature/reset-password

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install
        working-directory: zeno-admin

      - name: Build React app
        run: npm run build
        working-directory: zeno-admin

      - name: Deploy to Vercel (Production)
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: npx vercel --prod --confirm --token $VERCEL_TOKEN
        working-directory: zeno-admin